</div>
<footer>
    <div class="footer-wrapper"> 
        <div class="img-wrapper">
            <a href="/">  
                <span class="footer-img">
                    <img src="/Images/sssihl_footer_modified.png" alt="sssihl_footer_modified.png" width="196" height="40">
                </span>
            </a>
        </div>
        <div class="con-wrapper">
            <h2 style="font-size: 40px;">Write to us</h2>
            <p style="font-size: 20px">Let us know your impressions about the website</p>
            <form action="">
                 <textarea name="msg" id=""></textarea>
                 <button type="submit">Compose</button>
            </form>
        </div>
        <hr class="fhr"> 
        <p>&copy; SSSIHL MDH 2022</p>
    </div>
</footer>
<script src="/script.js"></script>
</body>
</html>