<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Vidyasager">
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Dancing+Script&family=Square+Peg&family=Sacramento&family=Source+Sans+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Teko:wght@400;700&display=swap" rel="stylesheet"> 
	<title>SSSIHL MDH Campus</title>
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<header id="home">
        <span style="font-size: 30px;cursor: pointer;" onclick="openNav()">&#9776;</span>
		<a href="login">Login</a>
	</header>
	<input type="image" id="dark" src="/Images/circle-half-stroke-solid.png" onclick="myFunction()">
	<div id="sidenavbar" class="sidenavbar">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> 
		<a href="/">Home</a>
		<a href="#gops">Problem Statement</a>
		<a href="#gocon">Contact Us</a>
	</div>