<%- include('partials/header'); -%>
<br><br>
<div id="main">
    <center>
        <div class="login" id="login">
            <h2>Welcome!</h2>
            <form action="/" method="post">
                <img src="/Images/sssihl-modified.png" alt="" width="100" height="100"><br>
                <input type="text" placeholder="Username" name="uname" required autofocus><br>
                <input type="password" placeholder="Password" name="pwd" required><br>
                <button type="submit" name="login">Login</button>
                <br>
                <a onclick="alert('Jai Sairam')" style="font-size: 20px; cursor: pointer;">Forgot Password?</a>
            </form> 
        </div>
    </center>
<%- include('partials/footer'); -%>